@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@600&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: #1D1D26;
  font-family: 'Playpen Sans', cursive;
}

.logo{
    width: 25%;
    cursor: pointer;
   }
   
  
  
  .topnav {
    overflow: hidden;
    background-color: #1D1D26;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   z-index: 222;
   height: 70px;
    color: #fff;
    padding-top: 12px;
    align-items: center;
   
   
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 30px;
    border: none;
    border-radius: 20px;
    
  }
  
  .topnav a:hover {
    
    color: black;
    color: white;
    border: none;
    border-radius: 20px;
    border-bottom: solid 3px rgb(144, 111, 111);
    border-top:solid 3px rgb(209, 163, 163) ;
  }
  
  .topnav a.active {
   
    color: white;
    border: none;
    border-radius: 20px;
    border-bottom: solid 3px rgb(144, 111, 111);
    border-top:solid 3px rgb(209, 163, 163) ;
    /* box-shadow: 0px 0px 11px 1px #80949a; */
  
    
  }
  
  .topnav .icon {
    display: none;
  }
  


  .title h1{
    width: 50%;
    margin: auto;
    text-align: center;
    color: white;
    margin-bottom: 200px;
    font-size: 30px;
  }

  footer{
    width: 100%;
    height: 200px;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    margin-top: 450px;
   align-items: center;
    /* background-color: #000000; */
  }


  section{
    width: 80%;
    margin: auto;
    margin-top: 200px;
    
  }

  #emailForm{
    display: grid;
    color: #f2f2f2;
    width: 60%;
    margin: auto;
    margin-top: -100px;
   
  }
  #emailForm label ,  #emailForm input {
    margin-bottom: 20px;
    font-size: 25px;
   
   
  }
    #emailForm input {
    margin-bottom: 20px;
    font-size: 25px;
    border-radius: 20px;
    padding: 10px;
    background-color: #27274b;
    border: none;
    border-bottom: solid 2px rgb(38, 37, 37);
    color: white;
   
  }
  button{
    margin-top: 30px;
    font-size: 25px;
    border-radius: 20px;
    padding: 10px;
    background-color: #27274b;
    border: none;
    border-bottom: solid 2px rgb(38, 37, 37);
    color: white;
  }
  button:hover{
    background-color: rgb(63, 61, 138);
    cursor: pointer;
  }

   /* Styles pour les tablettes (768px à 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .all{
 
    width: 630px;
    height: auto;
  
  }
  footer{
    
    margin-top: 800px;
  
  }
}

 /* Styles pour les mobiles + Tablette (jusqu'à 911px) un menu burger */

 @media screen and (max-width: 929px) {
  .topnav a {
    display: none;
    
  }
  .topnav {
    overflow: hidden;
    background-color: #1D1D26;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   z-index: 222;
   height: auto;
    color: #fff;
    padding-top: 12px;
   
   
    /* margin-top: 10px; */
  }

  .topnav a.icon {
    float: right;
    display: block;
    
  }
  .nav{
    margin-top: 50px;
    align-items: center;
  }
  .topnav.responsive {
    position: relative;
    
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    

  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

 /* Styles pour les mobiles + Tablette (jusqu'à 911px)  */

@media screen and (max-width: 929px) {
  .title h1{
    width: 100%;
    margin: auto;
    text-align: center;
    color: white;
    margin-bottom: 200px;
    font-size: 30px;
  }
  footer{
    width: 80%;
    height: 200px;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 6px;
    margin-top: 200px;
   align-items: center;
    /* background-color: #000000; */
  }
  #emailForm label ,  #emailForm input {
    margin-bottom: 20px;
    font-size: 25px;
   
   
  }
    #emailForm input {
    font-size: 16px;
  
  }
  button{
    
    font-size: 15px;
   
  }
}
  